body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.mainText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.blueHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3642a2;
	text-decoration: none;
}
.grayHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.topLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.topLinkFade {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #9999CC;
	text-decoration: none;
}
a:hover {
	color: #99CCFF;
}
.redHeader {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.topLinkLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: normal;
	padding: 5px;

}
.grayHeaderPadded {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	padding: 5px;

}
.redHeaderPadded {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	padding: 5px;

}
.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;

}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: none;
	line-height: 12px;
	height: 12px;
}
.mainTextLead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 22px;

}
.blueHeaderLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #3642a2;
	text-decoration: none;
	letter-spacing: -.5px;
	word-spacing: 1px;

}
.tableHead1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #507fb4;
}
.tableMain1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: normal;

}
.tableHead2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #333366;
}
.tableHead3 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #003366;
}
.tableHead4 {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #666666;
}
.Title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3642a2;
	text-decoration: none;
}
.Section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.SectionText {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.mainTextLeadWhite {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 22px;
}
.tableHead5 {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #006699;
}
.graydash {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.tdRule {
	border: 1px solid #999999;
}
.topLinkblue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.footerBlue {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #006699;
	text-decoration: none;
	line-height: 12px;
	height: 12px;
}
.tableHead2Large {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #333366;
}
.tableHead1Large {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #666699;
}
.smallBlack {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
.topLinkAnnounce {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #3642a2;
	text-decoration: underline;
}
.tableHead1Copy {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.newsHead1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #507fb4;
	text-decoration: underline;
	line-height: 22px;
	font-weight: bold;

}
.newsHead2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.tableHead1Blue {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3642a2;
	text-decoration: none;
}
.mainTextCopy {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.footerWhite {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
	height: 12px;
}
.mainTextDark {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.ccTopMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.ccTopMenuLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 14px;
}

.ccTopMenuLink:hover  {
	text-decoration: underline;
	color: #ff6600;
}

.ccFooterWhite {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
	height: 12px;
}
.ccAnnText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.ccAnnText:link, .ccAnnText:active, .ccAnnText:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.ccAnnText:hover {
	color: #3642a2;
	text-decoration: underline;
}
.ccAnnLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3642a2;
	text-decoration: none;
	font-weight: bold;
}
.ccPodMenuLink {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.ccPodMenuLink:link, .ccPodMenuLink:active, .ccPodMenuLink:visited {
	color: #222a3d;
	text-decoration: none;
}
.ccPodMenuLink:hover  {
	text-decoration: underline;
	color: #ff6600;
}
.ccRedText {
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.ccAnnounceHover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3642a2;
	text-decoration: none;
	font-weight: bold;
}
.ccDescWhite {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
}
