
<TABLE WIDTH="740" BORDER="0" CELLSPACING="0" CELLPADDING="0">
	<TR>    
		<td align="LEFT"><img width="182" height="61" border="0" src="images/hnet-logo.gif"/>
		<img width="1" height="45" border="0" src="/images/blank.gif" alt=""/></td>  
		<td><%= button_to "Refresh", refresh_path, :style => 'font-size:200%' %></td>
		<TD VALIGN="BOTTOM" ALIGN="RIGHT"><IMG SRC="images/hughes_logo.gif" WIDTH="92" HEIGHT="15" BORDER="0" VSPACE="4"><BR></TD>
	</TR>
	<TR>    
		<TD COLSPAN="3" height="2"><IMG WIDTH="1" HEIGHT="6" BORDER="0" ALT="" SRC="images/blank.gif"></TD>
	</TR>
</TABLE>



<TABLE WIDTH="740" BORDER="0" CELLSPACING="0" CELLPADDING="0" BGCOLOR="#10238C">  
	<TR>     
		<TD height="23" bgcolor="#10238C" width="10" valign="top" align="left"><img src="images/mainnav_top_left_corner.gif" width="4" height="4"></TD>    
		<TD height="23" width="720"><img src="images/blank.gif" width="720" height="1"></TD>    
		<TD VALIGN="top" ALIGN="right" WIDTH="10" height="23"><IMG WIDTH="4" HEIGHT="4" BORDER="0" ALT="" SRC="images/mainnav_top_right_corner.gif"></TD>  
	</TR>
</TABLE>



<TABLE WIDTH="740" BORDER="0" CELLSPACING="0" CELLPADDING="0">  
<TR>     
	<TD WIDTH="1" BGCOLOR="#666666" height="436"><IMG WIDTH="1" HEIGHT="320" BORDER="0" ALT="" SRC="images/blank.gif"></TD>    
	<TD ALIGN="left" VALIGN="top" width="10"><IMG WIDTH="10" HEIGHT="1" BORDER="0" ALT="" SRC="images/blank.gif"></TD>    
	<TD ALIGN="LEFT" VALIGN="TOP" width="720">       
	<TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0" BORDER="0"> 
		<TR>           
			<TD width=739 ALIGN="left" VALIGN="top"><BR>            
				<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0" BGCOLOR="4668E0" BACKGROUND="images/pod_4668E0_bg.gif">
					<TR>                 
					<TD ALIGN="left" VALIGN="top"><IMG WIDTH="9" HEIGHT="18" BORDER="0" ALT="" SRC="images/pod_4668E0_left.gif"></TD>
					<TD ALIGN="RIGHT" VALIGN="TOP"><IMG WIDTH="9" HEIGHT="18" BORDER="0" ALT="" SRC="images/pod_4668E0_right.gif"></TD>
					</TR>            
				</TABLE>            
	
				<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
				<TR>                 
					<TD WIDTH="1" ROWSPAN="2" BGCOLOR="#666666" height="142"><IMG WIDTH="1" HEIGHT="1" BORDER="0" ALT="" SRC="images/blank.gif"></TD>
					<TD height="142" align="center" valign="top" width="720">                   
						<table width="100%" border="0" cellspacing="0" cellpadding="0">                    
							<tr align="left" valign="top">                       
								<td colspan="3" nowrap height="201">                        
									<table width="100%" align="center" border="0" cellspacing="0" cellpadding="5">
										<tr>                             
											<td align="left" valign="top" height="144">	
											<div align="center" class="mainText"><strong>Results for Site ID: &nbsp;&nbsp;3BC44601</strong></div>
											<table border=0 width=100%>
												<tr>
													<td colspan=6 class="mainText"><strong>Note:  The information on this page is listed in prevailing Eastern time only.  Usage statistics will only be shown for a Site ID if usage for a given hour is greater than 500KB, the site is subject to the Fair Access Policy or the reported time is between 2 AM ET and 7 AM ET.</strong> </td>
													<td class="mainText" align="right" colspan="2">
														<span style="background-color: #ff6666">24hr download > <%= Usage::LEVEL_RED %>MB</span><br/>
														<span style="background-color: #cccc66">24hr download > <%= Usage::LEVEL_ORANGE %>MB</span><br/>
														<span style="background-color: #66ccff">Free bandwidth</span>
													</td>
													
												</tr>
												<tr>
													<td colspan=6>&nbsp;</td>
												</tr>
												<tr>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Date</font>&nbsp;&nbsp;</td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Time From</font></td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Time To</font></td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Min Used</font></td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Download In MB</font></td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Subject To FAP*</font></td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">Upload In MB</font></td>
													<td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">24 Hour Download</font></td>
													<!-- <td width=100 align="center" bgcolor="003399" class="mainText" ><font color="#FFFFFF">24 Hour Upload</font></td> -->

												</tr>
																		
<%= render :partial => 'usage', :collection => @usages %>
																	
											</table>
											<br>
											<p>* FAP &ndash; Fair Access Policy</p><p><SPAN ALIGN="" STYLE="width: 100%; height: 100%; font-size: 10px; color: black; font-face: arial,sans-serif; text-align: center; padding-top: 5px; font-family: sans-serif;">This information is provided only for your reference.Your actual invoice may vary according to your billing plan.</span></p>	
											<br>
											<p><SPAN ALIGN="" STYLE="width: 100%; height: 100%; font-size: 10px; color: black; font-face: arial,sans-serif; text-align: center; padding-top: 5px; font-family: sans-serif;">**Currently, data downloaded between 2:00&nbsp;AM and 7:00&nbsp;AM Eastern Time will not apply towards your service plan's download threshold. <br />
										    Please see the <a href="http://customercare.myhughesnet.com/fap_faqs.htm" target="_blank">FAQs</a> for additional information.
</span></p>																																							
											</td>                          
										</tr>                          
										<tr>                             
											<td width="0" height="2"><p>&nbsp;</p></td>                          
										</tr>                        
									</table>                      
								</td>                    
							</tr>                  
						</table>                
					</TD>                
					<TD WIDTH="1" ROWSPAN="2" BGCOLOR="#666666" height="142"><IMG WIDTH="1" HEIGHT="1" BORDER="0" ALT="" SRC="images/blank.gif"></TD>
				</TR>            
			</TABLE>            

			<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0" BACKGROUND="images/pod_bot_middle.gif">
				<TR>                 
					<TD ALIGN="LEFT" VALIGN="BOTTOM" height="2"><IMG WIDTH="9" HEIGHT="9" BORDER="0" ALT="" SRC="images/pod_bot_left_curve.gif"></TD>
					<TD ALIGN="RIGHT" VALIGN="BOTTOM" height="2"><IMG WIDTH="9" HEIGHT="9" BORDER="0" ALT="" SRC="images/pod_bot_right_curve.gif"></TD>
				</TR>            
			</TABLE>                      
		</TD>                  
	</TR>      
</TABLE>	     
</TD>  	 
<TD ALIGN="left" VALIGN="top" width="10"><IMG WIDTH="10" HEIGHT="1" BORDER="0" ALT="" SRC="images/blank.gif"></TD>
<TD ALIGN="LEFT" VALIGN="TOP" width="1" bgcolor=666666></TD>  
</TR>
</TABLE>
<TABLE WIDTH="740" BORDER="0" CELLSPACING="0" CELLPADDING="0">
	<TR>    
		<TD VALIGN="top" ALIGN="left" height="2"><IMG WIDTH="4" HEIGHT="4" BORDER="0" ALT="" SRC="images/mainnav_bot_left_corner.gif"></TD>
		<TD ALIGN="CENTER" VALIGN="TOP" height="2"><IMG WIDTH="732" HEIGHT="4" BORDER="0" ALT="" SRC="images/mainnav_bot_line.gif"></TD>
		<TD VALIGN="top" ALIGN="right" WIDTH="4" height="2"><IMG WIDTH="4" HEIGHT="4" BORDER="0" ALT="" SRC="images/mainnav_bot_right_corner.gif"></TD>
	</TR>
</TABLE>
<TABLE WIDTH="740" BORDER="0" CELLSPACING="0" CELLPADDING="0">  
	<TR>    
		<TD ALIGN="center" VALIGN="top" height="34"><SPAN ALIGN="" STYLE="width: 100%; height: 100%; font-size: 10px; color: black; font-face: arial,sans-serif; text-align: center; padding-top: 5px; font-family: sans-serif;"><BR>&copy;2009 Jonathan the Great.&nbsp;&nbsp;All rights reserved.</SPAN></TD>
	</TR>
</TABLE>
