
<div class="mainText" style="padding:1em">
	<p>To visit the "Check My Usage" front page, <%= link_to "click here", "http://customercare.myhughesnet.com/frm_usage_9series.cfm" %></p>
	<hr/>
<%= @usage_html %>

</div>
