<h1>First time setup</h1>
<p>To begin we need to generate your initial usage report. Please click the button below. This may take a few moments.</p>

<%= button_with_disable_to "Load and calculate first report", setup_create_path %>
