<h1>About Husage</h1>

<p>Hi,</p>

<p>Our family are HughesNet customers. Like all HughesNet users we are subject to the so-called "Fair Access Policy" which limits the number of megabytes we can download in any 24 hour period. If and when we exceed this limit, the service virtually shuts down, slowing access to less than dial-up speed for the next 24 hours.</p>

<p> This is a brutal disruption, especially for families like ours who rely on the internet all the time, for email, web browsing, running a home-based business, homework, itunes, youtube, games, system updates, and so on.</p>

<p>My dad is a programmer and wrote this little tool to help us manage our downloads. The Husage utility has better reports than those provided by HughesNet, including</p>

<ul>
	<li>A column for Total Accumulated Downloads from the previous 24 hours (minus the free bandwidth hours)</li>
	<li>Color coding of periods that exceed given Warning and Alert levels</li>
	<li>Email alerts when usage exceeds the given Warning and Alert levels</li>
	<li>Personal preferences to set Warning and Alert levels, email addresses, etc</li>
</ul>
	
<p>Since there may be other HughesNet customers who could use this tool, we decided to let you use it for free. If you find it useful, maybe you could <%= link_to '"buy us a cup of coffee"', info_path('donate') %> as they say!</p>

<p>If you have any questions, <%= mail_to "husage.net@gmail.com", "contact us", :encode => :javascript %></p>

<p>Thank you!</p>


	


