<h1>Your support is appreciated</h1>

<p>Like this service? If you find it useful, maybe you could help support this service with a <i>small donation, a tank of gas, or a cup of coffee</i>!</p>

<%= render :partial => 'layouts/donate' %>
