<h1>Your support is appreciated</h1>

<p>Like this service? Buy me a cup of coffee, or tank of gas</i>! If you find this service useful, help support it with a small donation of $5, or $25, or whatever seems good to you.</p>

<%= render :partial => 'layouts/donate' %>
