<div class="banner">
	<img style="float:right" width="4" height="4" src="http://customercare.myhughesnet.com/images/mainnav_top_right_corner.gif"> 
	<img style="float:left" width="4" height="4" src="http://customercare.myhughesnet.com/images/mainnav_top_left_corner.gif">
	<p>
		<a href="/">Husage: Satellite Internet Usage Utility</a>
	</p>
</div>
<div style="clear:both">&nbsp;</div>
