<div id="mainmenu">
	<ul>
	<li><%= link_to_tag_unless_current "Usage Report", usages_path %></li>
	<li><%= link_to_tag_unless_current "Original Report", original_path %></li>
	<li><%= link_to_tag_unless_current "Preferences", preferences_path %></li>
	<li><%= link_to_tag_unless_current "Log out", logout_path, :span, :style => 'font-size:10px; float:right' %></li>
	</ul>
</div>