<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<head>
  <title>Husage: Satellite Internet Usage Utility</title>

	<%= stylesheet_link_tag "http://customercare.myhughesnet.com/style/style.css"%>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
	<h3>Husage: Satellite Internet Usage Utility</h3>
	<%= render :partial => 'layouts/menu' %>
	<%= yield %>
</body>
</html>
